.references-table{
    margin: 1rem auto;
    width: 95%;
}
.references-table thead tr th {
    background-color: #222831;
    padding: 0.5rem;
}
.references-table-row{
    border: 2px solid #222831;
}
.references-table-row td {
    background-color: #EEEEEE;
    color: #222831;
    padding: 1rem;
}

.references-table a{
    color: #00ADB5;
}

.references-table a:hover{
    opacity: 0.85;
}

@media (max-width:576px) {
    .footer-links{
        flex-direction:column;
        justify-content: space-between;
    }
}
