.audio-title{
    color:#f00;
}

.btn {
    cursor:pointer;
    display: inline-block;
    padding: 10px 30px;
    margin: 1rem 0rem;
    color: #222831;
    background-color: #EEEEEE;
    border: none;
    border-radius:30px;
}
.btn:hover {
    opacity: 0.9;
}

.example{
    text-align: left;
    background-color:#EEEEEE;
    color: #222831;
    margin: auto;
    padding: 0.1%;
    position: relative;
    width: fit-content;
}


.example h3 {
    font-weight: 400;
    line-height: 1;
    padding: 1rem 1rem;
}
