* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #F9F5EB;
    color: #1C3879;
    line-height: 1.6;
    text-align: center;
    width: 100%;
}

ul {
    list-style: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    padding: 2rem 2rem;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

a{
    text-decoration: none;
}

footer{
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: #1C3879;
    color:#EAE3D2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
.navbar {
    background-color: #1C3879;
    color: #EAE3D2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0px;
    padding: 0 2rem;
    margin-bottom: 1rem;
}
.navbar a {
    color: #F9F5EB;
    padding: 1.5rem 2rem;
    margin: 0 0.5rem;
    text-decoration: none;
}
.navbar ul {
    display: flex;
}
.navbar a:hover {
    border-bottom: #EAE3D2 2px solid;
}

.btn {
    cursor:pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #EAE3D2;
    background-color: #607EAA;
    border: none;
    border-radius:30px;
}
.btn:hover {
    opacity: 0.9;
}

.content {
    padding: 6rem 2rem;
    margin: 0.5rem 1rem;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.footer-links{
    display: flex;
    width: 15%;
    position: absolute;
    right: 0;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #EAE3D2;
}

.footer-links a{
    text-decoration: none;
    color: #EAE3D2;
}

